body {
  background: rgba(128, 175, 129, 0.5) !important;
  color: #fff;
  font-family: Arial, sans-serif;
}

.header {
  background-color: rgba(26, 83, 25, 1);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
}

.header .icon {
  color: black;
  font-size: 24px;
}

.form-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: rgba(11, 70, 12, 0.5);
  border-radius: 8px;
}

.form-container .form-control {
  background-color: #d9ead3;
  color: #000;
}

.form-container .btn {
  background-color: #3cb371;
  color: #fff;
}
