.custom-button {
  width: 70px;
  height: 70px;
  background: rgba(101, 142, 102, 1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  transition: transform 0.2s, background-color 0.2s;
}

.custom-button:hover {
  transform: scale(1.1);
  background-color: #2f4f2f;
}

a {
  text-decoration: none;
}

.custom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1a5319;
  padding: 20px;
  border-radius: 75px;
  width: fit-content;
  justify-self: center;
}

.custom-button i {
  color: white;
  font-size: 24px;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: #d4e7d4;
  border-radius: 20px;
  padding: 5px 15px;
}

.search-box input {
  border: none;
  outline: none;
  background-color: transparent;
  flex-grow: 1;
  padding: 8px;
  font-size: 16px;
}

.search-box input::placeholder {
  color: #999;
}

.search-box .fa-search {
  color: #999;
  font-size: 18px;
}

body {
  background: rgba(128, 175, 129, 0.5) !important;
}

.navbar {
  background: rgba(26, 83, 25, 1) !important;
  padding: 10px;
  height: 50px;
}

.icon-group {
  background-color: #466446;
  padding: 10px 15px;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: max-content;
  margin: 20px auto;
}

.icon-group i {
  font-size: 24px;
  color: white;
}

.btn-custom {
  background-color: #5d7d5d;
  color: white;
  border-radius: 37px;
  width: 240px;
  margin: 10px;
  text-align: center;
  line-height: 50px;
  display: inline-block;
  font-size: 18px;
}

.btn-custom:hover {
  background-color: #4c6b4c;
}

a{
  text-decoration: none;
  color: #000;
}